/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body.toplevel_page_wherefrom #wpcontent,
body.wherefrom_page_wherefrom-settings #wpcontent {
  min-height: calc(100vh - 32px);
  padding: 0;
}

body.toplevel_page_wherefrom #wpbody,
body.wherefrom_page_wherefrom-settings #wpbody {
  display: inline-block;
  width: 100%;
  padding-top: 0;
}

body.toplevel_page_wherefrom .wf-wrapper,
body.wherefrom_page_wherefrom-settings .wf-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
body.toplevel_page_wherefrom .wf-header,
body.wherefrom_page_wherefrom-settings .wf-header {
  height: 60px;
  background-color: #fff;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body.toplevel_page_wherefrom .wf-content,
body.wherefrom_page_wherefrom-settings .wf-content {
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  padding: 20px 40px;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body.toplevel_page_wherefrom .form-table th,
body.wherefrom_page_wherefrom-settings .form-table th {
  text-align: right;
}
body.toplevel_page_wherefrom p.submit,
body.wherefrom_page_wherefrom-settings p.submit {
  text-align: center;
}

body.toplevel_page_wherefrom h1,
body.toplevel_page_wherefrom h2,
body.toplevel_page_wherefrom h3,
body.toplevel_page_wherefrom h4,
body.toplevel_page_wherefrom h5,
body.toplevel_page_wherefrom h6,
body.wherefrom_page_wherefrom-settings h1,
body.wherefrom_page_wherefrom-settings h2,
body.wherefrom_page_wherefrom-settings h3,
body.wherefrom_page_wherefrom-settings h4,
body.wherefrom_page_wherefrom-settings h5,
body.wherefrom_page_wherefrom-settings h6 {
  display: block;
}
body.toplevel_page_wherefrom form,
body.wherefrom_page_wherefrom-settings form {
  margin: auto;
}
body.toplevel_page_wherefrom p,
body.wherefrom_page_wherefrom-settings p {
  text-align: center;
}
body.toplevel_page_wherefrom .notice,
body.wherefrom_page_wherefrom-settings .notice {
  width: 100%;
}

body.toplevel_page_wherefrom .row,
body.wherefrom_page_wherefrom-settings .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body.toplevel_page_wherefrom a,
body.wherefrom_page_wherefrom-settings a {
  text-decoration: none;
}

body.toplevel_page_wherefrom button,
body.wherefrom_page_wherefrom-settings button {
  height: 40px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: medium;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

body.toplevel_page_wherefrom button.white,
body.wherefrom_page_wherefrom-settings button.white {
  color: #010101;
  background-color: #fff;
  box-shadow: 0px -2px 4px rgba(128, 128, 128, 0.1),
    0px 2px 4px rgba(120, 120, 120, 0.25);
}

body.toplevel_page_wherefrom button.white:hover,
body.wherefrom_page_wherefrom-settings button.white:hover {
  background-color: #f7f7f7;
}

body.toplevel_page_wherefrom button.white:active,
body.wherefrom_page_wherefrom-settings button.white:active {
  background-color: #f7f7f7;
}

body.toplevel_page_wherefrom button.green,
body.wherefrom_page_wherefrom-settings button.green {
  color: #010101;
  background-color: #4bcb8e;
}

body.toplevel_page_wherefrom button.green:hover,
body.wherefrom_page_wherefrom-settings button.green:hover {
  background-color: #32b275;
}

body.toplevel_page_wherefrom button.green:active,
body.wherefrom_page_wherefrom-settings button.green:active {
  background-color: #32b275;
}

body.toplevel_page_wherefrom button > i,
body.wherefrom_page_wherefrom-settings button > i {
  margin-left: 10px;
}

body.toplevel_page_wherefrom #wf-setup-wizzard,
body.wherefrom_page_wherefrom-settings #wf-setup-wizzard {
  display: none;
}
